{% extends "base.html"%}
{% block title%} Accessories | Kay Store {% endblock%}
{% block head%}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/accessories.css">
    <script src="js/jQuery3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
{% endblock %}
{% block content %}
    <!-- CONTENT SECTION -->
    <div id="containerAccessories"></div>

<!-- content JS -->
<script src="/static/js/accessories.js"></script>
{% endblock %}