{% extends "base.html" %}
{% block title %} Home | Kay Store {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <script src="/static/js/jQuery3.4.1.js" defer></script>
{% endblock %}
{% block content %}
<section>
    <div id="containerSlider">
        <div id="slidingImage"> <img src="/static/img/img1.png" alt="image1" loading="lazy"> </div>
        <div id="slidingImage"> <img src="/static/img/img2.png" alt="image2" loading="lazy"> </div>
        <div id="slidingImage"> <img src="/static/img/img3.png" alt="image3" loading="lazy"> </div>
        <div id="slidingImage"> <img src="/static/img/img4.png" alt="image4" loading="lazy"> </div>
    </div>
</section>
<section>
    <div id="homeContent">
        <h2>Clothing For Men And Women</h2>
        <div id="containerClothing">
            <!-- JS rendered code --> 
        </div>
        <h2>Accessories For Men And Women</h2>
        <div id="containerAccessories">
            <!-- JS rendered code -->
        </div>
    </div>
</section>
<footer>
    <div id="containerFooter">
        <div id="webFooter">
            <h3> <strong> Online store </strong> </h3>
            <p> <a href="{{url_for('main.clothing')}}"> Clothing offers </a></p>
            <p> <a href="{{url_for('main.accessories')}}"> Accessories deals </a></p>
        </div>
        <div id="webFooter">
            <h3> <strong> Helpful Link </strong>  </h3>
            <p> <a href="{{url_for('main.cart')}}"> View cart </a></p>
            <p> <a href="{{url_for('main.accessories')}}"> Featured goods </a></p>
        </div>
        <div id="webFooter" class="social-div">
            <h3><strong> Follow Us</strong> </h3>
            <div class="social-links">
                <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div id="webFooter">
            <h3> <strong> Address </strong> </h3>
            <p> building 101 </p>
            <p> central avenue </p>
            <p> Texas </p>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" defer></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        $('#containerSlider').slick({
            dots: true,
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
        });

        // Ensure the JS is executed after the DOM is ready
        $.getScript("/static/js/content.js");
    });
</script>
{% endblock %}
