{% extends "base.html" %}
{% block title %} Login | Kay Store {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
{% endblock %}
{% block content %}
<div class="login-container">
    <div class="overlay">
    <form class="login-form" action="/login" method="POST">
        <h3> <strong> Sign in to KayStore </strong></h3>
        <div class="input-group">
            <input type="email" placeholder="Email"  id="email" name="email" required>
        </div>
        <div class="input-group">
            <input type="password" placeholder="Password"  id="password" name="password" required>
        </div>
        <button class="loginBtn" type="submit" > Sign in </button>
        <div class="actions">
            <div>
                <input type="checkbox" id="Keep-loggen-in" name="keep-logged-in">
                <label for="Keep-logged-in">Keep me logged in</label>
            </div>
            <a href="/forgot-password">Forgot password?</a>
        </div>
        <div class="links">
            <a href="/register"> Create Account </a>
            <a href="/help"> Need help? </a>
        </div>
    </form>
</div>
{% endblock %}
