{% extends "base.html" %}
{% block title %} Login | Kay Store {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
{% endblock %}
{% block content %}
<div class="login-container">
    <form class="login-form" action="/login" method="POST">
        <h2> Login </h2>
        <div class="input-group">
            <input type="email" placeholder="Email"  id="email" name="email" required>
        </div>
        <div class="input-group">
            <input type="password" placeholder="Password"  id="password" name="password" required>
        </div>
        <div class="actions">
            <button type="submit">Login</button>
        </div>
        <div class="links">
            <a href="/register">Don't have an account? Sign up</a>
        </div>
    </form>
</div>
{% endblock %}
